asgiref
beautifulsoup4
bs4
certifi
charset-normalizer
code128
Django
django-crispy-forms
django-environ
django-qr-code
englisttohindi
heroku
idna
lxml
mysqlclient
pandas
Pillow
psycopg2-binary
python-dateutil
pytz
razorpay
requests
segno
six
soupsieve
sqlparse
urllib3
whitenoise
django_heroku
gunicorn
