asgiref
beautifulsoup4
bs4
certifi
code128
Django
django-crispy-forms
django-environ
django-qr-code
englisttohindi
heroku
lxml
pandas
Pillow
psycopg2-binary
python-dateutil
pytz
razorpay
requests
segno
six
soupsieve
sqlparse
urllib3
whitenoise
